body {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-image: url('fondo.png'); /* Usa la misma imagen de fondo */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  text-align: center;
}

.titulo {
  font-size: 4rem;
  margin-bottom: 60px;
  color: #ffffff;
  text-shadow: 3px 3px #000;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.dif-btn {
  font-family: "Joti One", serif;
  width: 220px;
  height: 120px;
  background: rgba(0,0,0,0.6);
  border: 4px solid #2b2b2b;
  border-radius: 16px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}

.dif-btn:hover {
  background: rgba(0,0,0,0.8);
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255,255,255,0.8);
}
